<div id="barchart">
<% @candidates.each do |c| %>
  <div class="candidate" id="candidate-<%= c.id %>">
    <h4 style="bottom: <%= (c.votes.count/@total_votes)*400 %>px;"><%= c.votes.count/@total_votes*100 %>%</h4>
    <div class="bar" style="height: <%= (c.votes.count/@total_votes)*400 %>px;"></div>
    <h2 style="top: 440px;"><%= c.name %><span class="code">#<%= c.code %></span></h2>
  </div>
<% end %>
</div>

<script type="text/javascript">
  $(function() {
    setInterval(function() {
      $.ajax({
        type: 'GET',
        dataType: 'json',
        url: '/votes/counts',
        success: function(data) {
          var total = data["total"];
          $.each(data["candidates"], function(key, value) {
            $("#candidate-" + key + " h4").html(Math.round((value/total*100)) + "%");
            $("#candidate-" + key + " h4").css({ bottom: (value/total*400) + "px" });
            $("#candidate-" + key + " .bar").css({ height: (value/total)*400 + "px" });
          });
        }
      });
    }, 3000);
  });
</script>
